<!-- FORMULARIO -->
<section id="sectionFormCompleto">
  <article mat-dialog-title class="title">
    <h2>Formulário do Produto</h2>
  </article>

  <form mat-dialog-content class="formProduto" [formGroup]="formProduto" (ngSubmit)="submitForm()">
    <div class="row">
      <mat-form-field>
        <mat-label>Nome do produto</mat-label>
        <input matInput type="text" placeholder="Ex. Pneu Choque" formControlName="nomeProduto"
          [errorStateMatcher]="matcher" required>

        @if (formProduto.get('nomeProduto') ?? true) {
        <mat-error>O nome é <strong>obrigatório.</strong></mat-error>
        }
      </mat-form-field>
    </div>

    <div class="row">
      <mat-form-field>
        <mat-label>Código</mat-label>
        <input matInput type="number" placeholder="Ex. 10" formControlName="codProduto" [errorStateMatcher]="matcher"
          required>

        @if (formProduto.get('codProduto') ?? true) {
        <mat-error class="error">O código é <strong>obrigatório.</strong></mat-error>
        }
      </mat-form-field>

      <mat-form-field>
        <mat-label>Preço</mat-label>
        <input matInput type="number" class="example-right-align" placeholder="Ex. 100" formControlName="precoProduto"
          [errorStateMatcher]="matcher" required>
        <span matTextPrefix>R$&nbsp;</span>
        <span matTextSuffix>.00</span>

        @if (formProduto.get('precoProduto') ?? true) {
        <mat-error>O preço é <strong>obrigatório.</strong></mat-error>
        }
      </mat-form-field>
    </div>

    <div class="row">
      <mat-form-field>
        <mat-label>Descrição do produto</mat-label>
        <textarea matInput type="text" placeholder="Ex. Um pneu da marca Choque, cuidado ao manusear"
          formControlName="descProduto"></textarea>
      </mat-form-field>
    </div>

    <div mat-dialog-actions class="buttonsCancelSave">
      <button mat-raised-button type="button" mat-dialog-close="false">Cancelar</button>
      <button mat-raised-button color="primary" type="submit">{{data ? 'Atualizar' : 'Salvar'}}</button>
    </div>
  </form>
</section>