<!-- HEADER PAGINA PRINCIPAL -->
<mat-toolbar color="primary" class="colunm">
  <span>Aplicação CRUD</span>
  <span class="example-spacer"></span>

  <button mat-raised-button (click)="openAddEditEmpForm()">
    +Add Produto
  </button>
</mat-toolbar>

<!-- FILTRO E FORM -->
<section class="section-table">
  <!-- FILTRO -->
  <mat-form-field>
    <mat-label>Filtro</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Produto" #input>
  </mat-form-field>

  <!-- TABELA E PAGINATOR -->
  <div class="table-container">
    <table mat-table [dataSource]="dataSource" matSort>
      <!-- COD Column -->
      <ng-container matColumnDef="codProduto">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Código do Produto </th>
        <td mat-cell *matCellDef="let row"> {{row.codProduto}} </td>
      </ng-container>

      <!-- NOME Column -->
      <ng-container matColumnDef="nomeProduto">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Nome do Produto </th>
        <td mat-cell *matCellDef="let row"> {{row.nomeProduto}} </td>
      </ng-container>

      <!-- PREÇO Column -->
      <ng-container matColumnDef="precoProduto">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Preço do Produto </th>
        <td mat-cell *matCellDef="let row"> {{row.precoProduto | currency:'BRL'}} </td>
      </ng-container>

      <!-- DESCRIÇÃO Column -->
      <ng-container matColumnDef="descProduto">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Descrição do Produto </th>
        <td mat-cell *matCellDef="let row"> {{row.descProduto}} </td>
      </ng-container>

      <!-- AÇOES Column -->
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Editar/Deletar </th>
        <td mat-cell *matCellDef="let row">
          <button mat-icon-button color="primary" (click)="openEditForm(row)">
            <mat-icon>edit</mat-icon>
          </button>

          <button mat-icon-button color="warn" (click)="deleteProducts(row.id)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      <!-- Row shown when there is no matching data. -->
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
      </tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Selecionar página de Produtos"></mat-paginator>
  </div>
</section>