.example-spacer {
  flex: 1 1 auto;
}

.section-table{
  padding-top: 1rem;
  margin: 0 auto;

  max-width: 80vw;

  mat-form-field{
    width: 100%;
  }

  table {
    max-width: 80vw;
  
    td, th {
      width: 25%;
    }
  }
}